@model TodoListMVC.Data.Entities.Comment


<h1>Xóa bình luận</h1>
<h3 style="color: red">Bạn có chắc muốn xóa bình luận này?</h3>

<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>
    </dl>

    <form asp-action="DeleteComment">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i> Chấp nhận Xóa
        </button>
    </form>

    <hr />

    <div>
        <a class="btn btn-outline-info" href="javascript:void(0);" onclick="history.go(-1);">
            <i class="fas fa-arrow-left"></i> Hủy
        </a>
    </div>
</div>
