@model TodoDetailsModel

@{
    ViewData["Title"] = "Details";
}

<div><h1>Details</h1></div>
@if (Model.Todo.CreatedBy != null && ViewData["user"] != null && ViewData["user"].Equals(Model.Todo.CreatedBy))
{
    <style>
        .checkRight {
        }
    </style>
}
else
{
    <style>
        .checkRight {
            display: none;
        }
    </style>
}


<div>
    <h4>ID:@Model.Todo.Id<a asp-action="Edit" asp-route-id="@Model.Todo.Id" style="float:right" class="checkRight">Edit</a></h4>
    <a asp-action="Delete" asp-route-id="@Model.Todo.Id" style="float:right;font-size:25px;text-decoration:solid" class="checkRight">Delete</a>
    <br />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Todo.Scope)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Todo.Scope)
        </dd>

        @*Danh sach comment*@
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10" style="height:300px;overflow: scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Comments[0].Content)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Comments[0].Created)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Comments[0].CreatedBy)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Comments[0].LastModified)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Comments[0].LastModifiedBy)
                        </th>
                        <th style="position: sticky; top: 0;">
                            <a asp-action="CreateComment" asp-route-id="@Model.Todo.Id">Thêm bình luận</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.CreatedBy)</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModifiedBy)
                            </td>
                            <td>
                                @if (item.TodoId == Model.Todo.Id)
                                {
                                    <a asp-action="EditComment" asp-route-id="@item.Id">Edit</a>
                                    <a asp-action="DeleteComment" asp-route-id="@item.Id">Delete</a>
                                }
                                else
                                {

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>

        @*Danh sach assignment*@
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Assignments)
        </dt>
        <dd class="col-sm-10" style="height:300px;overflow: scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Assignments[0].UserId)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Assignments[0].AssignmentDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Assignments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignmentDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        @*Lich su chinh sua*@
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Histories)
        </dt>
        <dd class="col-sm-10" style="height:300px;overflow: scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Histories[0].LogContent)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Histories[0].LastModified)
                        </th>
                        <th style="position: sticky; top: 0;">
                            @Html.DisplayNameFor(model => model.Histories[0].LastModifiedBy)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Histories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LogContent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModified)
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.LastModifiedBy)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
