@model TodoViewModel;


@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách công việc</h1>

<hr />

<p>
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="fas fa-plus-square"></i> Tạo mới
    </a>
</p>

<form asp-controller="Todoes" asp-action="Index" method="get">
    <div class="form-row">
        <div class="form-group col-auto">
            <label asp-for="TodoStatusFilter" class="control-label"><b>Trạng thái</b></label>
            <select asp-for="TodoStatusFilter" asp-items="Html.GetEnumSelectList<TodoStatusVM>()" class="form-control">
                <option selected="selected" value="">All</option>
            </select>
        </div>

        <div class="form-group col-auto">
            <label asp-for="StartDateFilter" class="control-label"><b>Ngày bắt đầu</b></label>
            <input asp-for="StartDateFilter" class="form-control" />
        </div>

        <div class="form-group col-auto">
            <label asp-for="EndDateFilter" class="control-label"><b>Ngày kết thúc</b></label>
            <input asp-for="EndDateFilter" class="form-control" />
        </div>
        <div class="form-group col-auto d-flex align-items-end">
            <button type="submit" class="btn btn-outline-success">
                <i class="fas fa-filter"></i> Lọc
            </button>
            <a class="btn btn-outline-primary ml-2" asp-action="Index">
                <i class="fas fa-undo-alt"></i> Đặt lại bộ lọc
            </a>
        </div>
    </div>
</form>


@foreach (var item in Model.Todoes)
{
    <partial name="_TodoPartial" model="item" />
}


@{
    var prevDisabled = !Model.Todoes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Todoes.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-route-pageIndex="@(Model.Todoes.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            for (int i = 1; i <= Model.Todoes.TotalPages; i++)
            {
                if (Model.Todoes.PageIndex == i)
                {
                    <li class="page-item active"><a class="page-link" asp-route-pageIndex="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-route-pageIndex="@i">@i</a></li>
                }

            }
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-route-pageIndex="@(Model.Todoes.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>
